---
layout: default
---

<div class="calendar-day row">
  <h1>Comptes 2019</h1>
</div>

<div class="calendar-day row">
  <ul>
    <li><b>Espai</b>: 140€</li>
    <li><b>Difusió</b>: 550€</li>
    <li><b>Esmorzar i berenar</b>: 100€</li>
    <li><b>Ludoteca</b>: 120€</li>
    <li><b>Materials</b>: 60€</li>
    <li><b>Desplaçament dels ponents</b>: 70€</li>
    <li><b>Dinar</b>: 300€</li>
  </ul>
</div>
<div class="calendar-day row">
  <p>El congrés va costar <b>1340€</b> i es va financiar amb una aportació de la CUP de Barcelona de 800€ i 240€ d'aportacions personals.</p>
  <p>Els diners del dinar es van recuperar amb els tiquets del mateix, que ens van permetre, a més a més, convidar els ponents.</p>
</div>
