<footer>
  <div class="footer-divider"></div>
  <div class="container" >
    <div>
      <h2>Segueix-nos</h2>
      <div class="follow-us">
        <div class="iconesFooter">
          <a href="mailto:{{ site.email }}">
            <img src="/assets/img/mail_logo.png" alt="Envia'ns un correu"/>
            <!--{{ site.email }}-->
          </a>
          </div>
        <div class="iconesFooter">
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
            <img src="/assets/icons/twitter-brands.svg" alt="twitter"/>
            <!--{{ site.twitter_username }}-->
          </a>
        </div>
        <div class="iconesFooter">
          <a href="https://mastodont.cat/@sobtec" target="_blank">
            <img src="assets/img/Mastodon_icon.png" alt="Mastodont"/>
            <!--{{ site.twitter_username }}-->
          </a>
        </div class="iconesFooter">
        <div>
          <a href="https://riot.im/app/#/room/{{ site.matrix_room }}" target="_blank">
            <img src="/assets/img/riot_logo_transparent.png" alt="Sala de Matrix"/>
          </a>
        </div>
      </div>
    </div>
    <div>
      <h2>Participa</h2>
      <h4>
        <a href="http://www.sobtec.cat" target="_self">
          www.sobtec.cat
        </a>
      </h4>
      <a href="https://tools.wmflabs.org/geohack/geohack.php?pagename=Lleialtat_Santsenca&language=ca&params=41.37295556_N_2.13659444_E_" target="_blank">
		    <address>
		      La Lleialtat Santsenca. Carrer Olzinelles, 31 08014. Barcelona
		    </address>
	    </a>
    </div>
    <div>
      <h2>Organitza</h2>
      <img src="/assets/img/grup_promotor.png" alt="Logotip Grup Promotor Congrés Sobirania Tecnologica" />
      <div class="container" style=margin-top:15px;>
        <div class="source_code">
          <div>web feta amb <br/>
          <a href="http://jekyllrb.com/" target="_blank">
            <img src="/assets/img/jekyll-logo-black-transparent.png" alt="Logotip Jekyll" width="100" />
          </a></div>
        </div>

        <div>
          <div>aquí tens el codi<br/>
          <a href="https://gitlab.com/grup_promotor_sobtec/web" target="_blank">
            <img src="/assets/img/Gitlab_logo.png" alt="Gitlab" style="max-width:100px;margin-left:15%;"/>
          </a></div>
        </div>

      </div>
      gràcies <a href="https://fontawesome.com/license">fontawesome</a> per les icones d'aquesta web

    </div>
  </div>
</footer>
