footer {
	margin: 0;
	padding: 10px;
  display: block;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer .container > div {
  max-width: 300px;
}

footer a {
	color:#9E186E;
}

footer a:hover {
	color:#fff;
}

footer h2 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}

footer address {
  max-width: 200px;
}

footer .follow-us {
  display: flex;
  flex-direction: row;
}

footer .follow-us img {
  width: 50px
}

footer .footer-divider {
  background-image: url("/assets/img/footer-divider.png");
  height: 50px;
}
// Icones que apareixen a l'esquerra (a poder ser 50 x 50!)
.iconesFooter {
	display:inline-block;
	float:left;
	margin-right: 7px;
	margin-left: 7px;

}

.iconesFooter img {
	width: 50px;
}
@media all and (max-width:$media-break-point) {
  footer .container {
    margin: auto;
    display: flex;
    flex-direction: column;
  }

}
